# Merge (join), Concat / Append in Pandas

In [ ]:
import pandas as pd

table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [7, 8, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
print(table3)

In [ ]:
pd.concat([table1, table2])

In [ ]:
table1.append(table2)

In [ ]:
pd.concat([table1, table3])

In [ ]:
pd.concat([table1, table3], axis = 1) # axis 1->`across columns`, axis 0 -> `across row`

In [ ]:
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='right')

In [ ]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='outer') # other joins: left, right, inner, outer

In [ ]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [6, 8, 9]})
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='left')

In [ ]:
print(table1)
print(table3)

# col1 col2 col3 col4
# 1, 4, 1, 4
# 1, 4, 1, 4
# 2, 5, 2, 6
# 3, 6, NaN, NaN
pd.merge(table1, table3, left_on='col2', right_on='col4', how='outer')

In [ ]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='inner')

In [ ]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='right')

# Pivot Table

In [ ]:
def read_data():
    pokemon = pd.read_csv('pokemon_data.csv')
    return pokemon

df = read_data()
df

In [ ]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean')

In [ ]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean').reset_index()

In [ ]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='std')

In [ ]:
mean_data = pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean').reset_index()
mean_data.columns = ['Type 1', 'Mean HP', 'Mean Attack', 'Mean Defense']
print(mean_data)
var_data = pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='var').reset_index()
var_data.columns = ['Type 1', 'Var HP', 'Var Attack', 'Var Defense']
var_data

In [ ]:
pd.merge(mean_data, var_data, on='Type 1', how='left')

# Stacking

In [ ]:
df.stack()

In [ ]:
df.iloc[0]['Name']

In [ ]:
pd.DataFrame(df.stack())

In [ ]:
df.stack().unstack()

# Conversion

In [ ]:
df.info()

In [ ]:
df['Type 1'] = df['Type 1'].astype('category')

In [ ]:
df.info()

In [ ]:
df['Attack'] = df['Attack'].astype('float32')

In [ ]:
df.info()

### Other conversions:
<li> to_datetime</li>
    <li> to_timedelta
    <li> to_numeric
        <li> numpy.ndarray.astype