# Lists, Tuples and Sets

In [1]:
# Python List-> 0,  1,  2,  3
 #           ->-4, -3, -2, -1
courses = ['History', 'Science', 'Math', 'Computer Science']
print(courses)
print(type(courses))

['History', 'Science', 'Math', 'Computer Science']
<class 'list'>

In [2]:
# Indexing in lists
print(courses[0])
# Slicing
print(courses[1:3])
print(courses[:2])
print(courses[2:])
print(courses[:-2])

History
['Science', 'Math']
['History', 'Science']
['Math', 'Computer Science']
['History', 'Science']

In [3]:
# Add a course at the end of the list
courses.append("Chemistry")
print(courses)

['History', 'Science', 'Math', 'Computer Science', 'Chemistry']

In [4]:
# add course in a given index
courses.insert(0, "Art")
print(courses)

['Art', 'History', 'Science', 'Math', 'Computer Science', 'Chemistry']

In [5]:
# List can have many types of data
lst = ["A", "B", "C"]
lst.append(122)
print(lst)

['A', 'B', 'C', 122]

In [6]:
# List can even have list as an element
lst2 = [1, 2, 4, "hello"]
lst.append(lst2)
print(lst)
print(lst[-1])

['A', 'B', 'C', 122, [1, 2, 4, 'hello']]
[1, 2, 4, 'hello']

In [7]:
# insert all values fron a list to another list
courses_2 = ["Education", "Management", "Art"]
courses.extend(courses_2)
print(courses)

['Art', 'History', 'Science', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management', 'Art']

In [8]:
# Removing values from a list
courses.remove('Art')
print(courses)

['History', 'Science', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management', 'Art']

In [9]:
courses.remove('Science')
print(courses)

['History', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management', 'Art']

In [10]:
# pop to remove the last value
popped = courses.pop()
print(popped)
print(courses)

Art
['History', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management']

In [11]:
# Reverse the list
courses.reverse()
print(courses)

['Management', 'Education', 'Chemistry', 'Computer Science', 'Math', 'History']

In [12]:
# Sort the list
courses = ['History', 'Science', 'Math', 'Computer Science']
print("Original list", courses)
courses.sort(reverse = True)
print("Sorted list", courses)

Original list ['History', 'Science', 'Math', 'Computer Science']
Sorted list ['Science', 'Math', 'History', 'Computer Science']

In [13]:
# Sort the list
courses = ['History', 'Science', 'Math', 'Computer Science']
print("Original list", courses)
sorted_courses = sorted(courses)
print("Sorted list", sorted_courses)
print("Original list remains the same", courses)

Original list ['History', 'Science', 'Math', 'Computer Science']
Sorted list ['Computer Science', 'History', 'Math', 'Science']
Original list remains the same ['History', 'Science', 'Math', 'Computer Science']

In [14]:
# Sorting with numbers
nums = [2, 6, 9, 1, 5]
nums.sort(reverse = True)
print(nums)

[9, 6, 5, 2, 1]

In [15]:
# Keeping an original copy of the list
nums = [2, 3, 9, 1, 6]
sorted_nums = sorted(nums)
print(sorted_nums)
print(nums)

[1, 2, 3, 6, 9]
[2, 3, 9, 1, 6]

In [16]:
# Numerical operations on a list of numbers
nums = [2, 3, 9, 1, 6]
print(min(nums))
print(max(nums))
print(sum(nums))
print(sum(nums) / len(nums))

1
9
21
4.2

In [17]:
# find the index of a value from a list
print(nums.index(6))

4

In [18]:
# check if a value is in a list
print("Math" in courses)
print(4 in nums)
print(6 in nums)

True
False
True

In [19]:
# Get a list of all variables in the notebook
all_variables = %who_ls

# Iterate through each variable and print it if it's a list
for var_name in all_variables:
    print("Var name is:   " ,var_name)
    var = locals()[var_name]
    print("Var is:   ", var)
    if isinstance(var, list):
        print(f"List {var_name}: {var}")

Var name is:    courses
Var is:    ['History', 'Science', 'Math', 'Computer Science']
List courses: ['History', 'Science', 'Math', 'Computer Science']
Var name is:    courses_2
Var is:    ['Education', 'Management', 'Art']
List courses_2: ['Education', 'Management', 'Art']
Var name is:    lst
Var is:    ['A', 'B', 'C', 122, [1, 2, 4, 'hello']]
List lst: ['A', 'B', 'C', 122, [1, 2, 4, 'hello']]
Var name is:    lst2
Var is:    [1, 2, 4, 'hello']
List lst2: [1, 2, 4, 'hello']
Var name is:    nums
Var is:    [2, 3, 9, 1, 6]
List nums: [2, 3, 9, 1, 6]
Var name is:    popped
Var is:    Art
Var name is:    sorted_courses
Var is:    ['Computer Science', 'History', 'Math', 'Science']
List sorted_courses: ['Computer Science', 'History', 'Math', 'Science']
Var name is:    sorted_nums
Var is:    [1, 2, 3, 6, 9]
List sorted_nums: [1, 2, 3, 6, 9]

In [20]:
# printing all elements by accessing all values
print(courses)  
for item in courses:
# iter: 1) item = "History"
# iter: 2) item = "Science".... 
    print(item)

['History', 'Science', 'Math', 'Computer Science']
History
Science
Math
Computer Science

In [21]:
# printing index and values
for index, values in enumerate(courses): # (0, 'History'), (1, Science)
    # index = 0, values = "History"
    # index = 1, values = "Math"
    print(index, values)

0 History
1 Science
2 Math
3 Computer Science

In [22]:
# printing index and values

for index, values in enumerate(courses, start = 1):
    print(index, values)

1 History
2 Science
3 Math
4 Computer Science

In [23]:
# Finding the biggest number: num1, num2

num1 = 3
num2 = 3

if num1 > num2:
    print("Num1 is bigger")
elif num1 == num2:
    print("Num1 is equal to Num2")
else:
    print("Num2 is bigger")

Num1 is equal to Num2

In [24]:
# Finding the biggest number: num1, num2, num3

num1 = 99
num2 = 999
num3 = 8

if num1 > num2 and num1 > num3:
    print("Num1 is bigger")
elif num2 > num3 and num2 > num1:
    print("Num2 is bigger")
else:
    print("Num3 is bigger")

Num2 is bigger

In [25]:
a = [1, 2, 3]
b = [1, 2, 3]
a = b

print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140334973199816
140334973199816

In [26]:
# Making a string from a list
courses = ['History', 'Science', 'Math', 'Computer Science']
course_str = '_'.join(courses)
course_list = course_str.split('_')
print(course_str)
print(type(course_str))
print(course_list)

History_Science_Math_Computer Science
<class 'str'>
['History', 'Science', 'Math', 'Computer Science']

# Tuples

In [27]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
print(tuple_1)
print(type(tuple_1))
tuple_1[0] = 'Art'

('History', 'Math', 'Physics', 'CompSci')
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [28]:
tuple_2 = ("Art",)
print(tuple_1 + tuple_2)

('History', 'Math', 'Physics', 'CompSci', 'Art')

# Sets

In [29]:
sci_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}
art_courses = {'Art', 'History', 'Design'}
print(sci_courses)
print(art_courses)

{'Math', 'History', 'Physics', 'CompSci'}
{'History', 'Art', 'Design'}

In [30]:
print(sci_courses.intersection(art_courses))

{'History'}

In [31]:
print(sci_courses.difference(art_courses))
print(art_courses.difference(sci_courses))

{'Math', 'Physics', 'CompSci'}
{'Art', 'Design'}

In [32]:
print(sci_courses.union(art_courses))

{'Math', 'Physics', 'History', 'CompSci', 'Art', 'Design'}

In [33]:
# Casting a set variable to a list variable
list_course = list(sci_courses)
# Casting the list back to set variable
sci = set(list_course)
print(list_course)
print(sci)

['Math', 'History', 'Physics', 'CompSci']
{'Math', 'History', 'Physics', 'CompSci'}

In [34]:
list = [1, 2, 3]
print(list)
list_course = list(sci_courses)
print(list_course)

[1, 2, 3]

TypeError: 'list' object is not callable