# Pandas

In [ ]:
# flixibility of Python, Excel is limitted
# Working with large amount of data
# We load data on a dataframe

import pandas as pd

pokemon = pd.read_csv('pokemon_data.csv')
print(type(pokemon))
pokemon.head(5)

In [ ]:
pokemon.tail(5)

In [ ]:
# print the columns
print(pokemon.columns)

# read a column
print(pokemon['Name'])
print(pokemon['Name'][0:5])

# read multiple columns
print(pokemon[['Name', 'HP', 'Attack']])
print(pokemon[['Name', 'HP', 'Attack']][0:5])

In [ ]:
# # Read one row
print(pokemon.iloc[0])

# # Read multiple rows
print(pokemon.iloc[1:5])

# access a location (R, C)
print(pokemon.iloc[2, 1])

In [ ]:
# iterate through all rows of the dataframe
for index, row in pokemon.iterrows():
    print(index, row)

In [ ]:
# iterate through all rows of the dataframe for a specific column
for index, row in pokemon.iterrows():
    print(index, row['Name'])

In [ ]:
# find rows with values
pokemon.loc[pokemon['Defense'] > 150]

In [ ]:
pokemon.info()

In [ ]:
# Describing datafram
pokemon.describe().T

In [ ]:
# # sorting the values
# pokemon.sort_values('Name')

# # sort decending
# pokemon.sort_values('Name', ascending = False)

# # sort by multiple columns 
# pokemon.sort_values(['Name', 'Defense'])

# # sort descending - multiple columns 
pokemon.sort_values(['Attack', 'HP'], ascending = [True, False])
# pokemon.sort_values(['Name', 'Defense'], ascending = [True, False])

In [ ]:
# add a new column
pokemon['Total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Speed']

In [ ]:
pokemon.head(5)

In [ ]:
# remove a column
pokemon = pokemon.drop(columns = 'Total')
pokemon.head(5)

In [ ]:
# Add a new column in a different way
pokemon['Total'] = pokemon.iloc[:, 4:10].sum(axis = 1) # horizontal addition, 0 for rows
pokemon.head(5)

In [ ]:
# ordering the columns

columns = list(pokemon.columns.values)
print(columns)
pokemon = pokemon[columns[0:4] + [columns[-1]] + columns[4:12]]
pokemon.head(5)

In [ ]:
# # Save file as csv
# pokemon.to_csv('changed.csv')
# # do not include the index column
# pokemon.to_csv('changed2.csv', index = False)
# pokemon.to_csv('changed2.csv', index = False, sep='\t')

In [ ]:
# Filtering data
pokemon.loc[(pokemon['Type 1'] == 'Grass') & (pokemon['Type 2'] == 'Poison') & (pokemon['HP'] > 70)]

In [ ]:
new = pokemon.loc[(pokemon['Type 1'] == 'Grass') & (pokemon['Type 2'] == 'Poison') & (pokemon['HP'] > 70)]
new

In [ ]:
new = new.reset_index()
new

In [ ]:
new = new.reset_index(drop = True)
new
# new.reset_index(drop = True, inplace = True)
# new

In [ ]:
pokemon.loc[pokemon['Name'].str.contains('Mega')]

In [ ]:
pokemon.loc[~pokemon['Name'].str.contains('Mega')]

In [ ]:
import re

df = pokemon
df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)]

In [ ]:
# '^pidg[a-z]$' --> just one alphabet
# '^pidg[a-z]{2}$' --> exactly 2 alphabets

df.loc[df['Name'].str.contains('^pidg[a-z]*', flags = re.I, regex = True)]

In [ ]:
df.loc[df['Name'].str.contains('[a-z]*ing$', flags = re.I, regex = True)]

In [ ]:
# conditional changes

df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

In [ ]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

In [ ]:
df.loc[df['HP'] > 40, ['Generation', 'Legendary']] = ['TEST 1','TEST 2']
df

In [ ]:
df.groupby(['Type 2']).mean().sort_values('HP', ascending = True)

In [ ]:
print(sorted(df['Type 1'].unique()))
print(sorted(df['Type 2'].dropna().unique()))

In [ ]:
def read_data():
    pokemon = pd.read_csv('pokemon_data.csv')
    return pokemon
df = read_data()
df['Types'] = df['Type 1'] + " & " + df['Type 2']
df.head()

In [ ]:
df.groupby(['Types']).sum()

In [ ]:
df['count'] = 1
df.head()

In [ ]:
df.groupby(['Type 2']).sum()['count']

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df.groupby(['Type 1', 'Type 2']).sum()['count']

In [ ]:
df.groupby('Type 1')['HP'].median()

In [ ]:
import numpy as np
df.groupby('Type 1')['HP'].aggregate(['min', np.median, max, np.std])

In [ ]:
df.groupby('Types').aggregate({'HP': 'min', 'Attack': 'max', 'Defense': 'median'})

In [ ]:
df.groupby('Type 1')[['HP', 'Attack', 'Defense']].std()
# df.info()

In [ ]:
def filter_func(x):
    return x['HP'].std() > 20

In [ ]:
df2 = df.groupby('Type 1')[['Type 1', 'HP', 'Attack', 'Defense']].filter(filter_func).reset_index(drop =True).set_index('Type 1')
df2

In [ ]:
df3 = {'key': ['A', 'B', 'C', 'A', 'C'], 'data1': [0, 1, 2, 3, 4], 'data2': [5, 6, 7, 8, 9] }
df3 = pd.DataFrame(df3)
df3

In [ ]:
df3.groupby('key').mean()

In [ ]:

# key	data1	data2
# 	A	0	5
# 	B	1	6
# 	C	2	7
# 	A	3	8
# 	C	4	9

def fnc(x):
#     print(x['data1'].mean())
    return x['data1'].mean() >= 2

df3.groupby('key').filter(fnc).reset_index()

In [ ]:
df.groupby('Type 1')['HP'].transform(lambda x: x - x.mean())

In [ ]:
# let you apply arbitrary functon to the group result
def norm_by_data(x):
    x['Attack'] /= x['HP'].sum()
    return x

df.groupby('Type 1')[['HP', 'Attack']].apply(norm_by_data)

In [ ]:
# creating your own split
import random
lst = []
for i in range(len(df)):
    lst.append(random.randint(0, 3))
print(lst)
df.groupby(lst).sum()

In [ ]:
# pass any Python function that will input the index value and output the group
df2 = df.set_index('Type 1')
df2

In [ ]:
df2.groupby(str.lower).mean()

In [ ]:
# use def read_data(): to read the csv

### Lamda function in Python

In [ ]:
# function without `def`
# anything after the `lambda` keyword is treated as an argument
add = lambda a, b: a + b
print(add(3, 8))

def add2(a = 4 , b = 2):
    return a + b
print(add2())

In [ ]:
add = lambda a: a + 5
add(10)

In [ ]:
# lambda without assigning it to a variable
# Immediately Envoked Function Expression
(lambda a, b: a * b)(3, 5)

In [ ]:
product = lambda x, y, z = 7: x * y * z
print(product(z = 5, x = 1, y = 1))

In [ ]:
add = lambda x, y = 15, z = 1: x + y + z
print(add(1))

In [ ]:
add = lambda *args: sum(args)
print(add(1, 2, 3, 4, 5, 6))

In [ ]:
higher_ord = lambda x, fun: x + fun(x)
higher_ord(5, lambda x: x * x)

In [ ]:
print(12 % 5)

In [ ]:
(lambda x : (x % 2) and 'odd' or 'even')(12)
# 1 and 'odd' or 'even' -> 'odd'
# 0 and 'odd' or 'even' -> 'even'

In [ ]:
sub_string = lambda string : string in "Python Lessons" 
sub_string("java")

In [ ]:
nums = [10, 40, 80, 160, 240, 400]
greater = list(filter(lambda num: num > 80, nums))
print(greater)

In [ ]:
nums = [2, 4, 6, 8, 16, 32, 64, 128, 256]
divide = list(filter(lambda x : (x%4 == 0), nums))
print(divide)

In [ ]:
nums = [2, 4, 6, 8, 16, 32, 64, 128, 256]
double = list(map(lambda x: x * 2, nums))
print(double)

In [ ]:
nums = [1, 2, 3, 4, 5]
cube = list(map(lambda x : pow(x, 3), nums))
print(cube)

In [ ]:
from functools import reduce
nums = [1, 2, 3]
summ = reduce((lambda x, y: x / y), nums)
print(summ)

In [ ]:
def quadratic(a, b, c):
    return lambda x: a*x**2 + b*x + c
    # lambda x: 2*x**2 + 3*x + 5
f = quadratic(2, 3, 5) #lambda x: 2*x**2 + 3*x + 5
print(f(1))
print(f(2))
print(f(3))
f = quadratic(3, 5, 7) #lambda x: 2*x**2 + 3*x + 5
print(f(1))
print(f(2))
print(f(3))

# Merge (join), Concat / Append in Pandas

In [ ]:
import pandas as pd

table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [7, 8, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
print(table3)

In [ ]:
pd.concat([table1, table2])

In [ ]:
table1.append(table2)

In [ ]:
pd.concat([table1, table3])

In [ ]:
pd.concat([table1, table3], axis = 1) # axis 1->`across columns`, axis 0 -> `across row`

In [ ]:
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='right')

In [ ]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='outer') # other joins: left, right, inner, outer

In [ ]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [6, 8, 9]})
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='left')

In [ ]:
print(table1)
print(table3)

# col1 col2 col3 col4
# 1, 4, 1, 4
# 1, 4, 1, 4
# 2, 5, 2, 6
# 3, 6, NaN, NaN
pd.merge(table1, table3, left_on='col2', right_on='col4', how='outer')

In [ ]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='inner')

In [ ]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='right')